.dashboard-off {
	color: #8f8e94;
}

.dashboard-on {
	color: #1976d2;
}

.dropyear {
	padding: 0 20px;
}

.panel-body {
	padding: 0;
}

.lanbran {
	color: #000;
}
.ryrog {
	color: #fff;
}
.lanbran-branch {
	color: #fff;
}