.dashboard-off {
	color: #8f8e94;
}

.dashboard-on {
	color: #1976d2;
}

.dropyear {
	padding: 0 20px;
	padding: 0 30px;
	padding: 0 40px;
	padding: 0 50px;
}

.panel-body {
	padding: 0;
}

.lanbran {
	color: #000;
}
.ryrog {
	color: #fff;
}
.lanbran-branch {
	color: #fff;
}

.ryrog-2 {
	padding: 10px;
}

.ryrog-20 {
	padding: 20px;
}